//font-family: 'Montserrat', sans-serif;
//font-family: 'Poppins', sans-serif;
//font-family: 'PT Serif', serif;

// breakpoints

$tablet: 991px;
$mobile-landscape: 767px;
$mobile: 479px;


$color-black: #000;
$color-gray: #A9A9A9;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: $color-black;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 110px 35px 30px 0px;

    @media screen and (max-width: $tablet){
        padding: 71px 19px 68.69px 21px ;
        
    }
    
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: $mobile-landscape){
        flex-wrap: wrap;

    }
}

.title{
    font-family: 'PT Serif', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 47.7px;

    @media screen and (max-width: $tablet){
        margin-right: 32px;
        
    }

    @media screen and (max-width: $mobile-landscape){
        margin-bottom: 38px;
        margin-right: 0;
        
        
    }


}

.subtitle{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 10px;

    
}

.description{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    max-width: 439px;

    @media screen and (max-width: $mobile-landscape){
        margin-bottom: 38px;
        max-width: 100%;
        margin-right: 10px;
        
    }

    @media screen and (max-width: $mobile){
        margin-bottom: 38px;
        max-width: 100%;
        margin-right: 14px;
        font-size: 14px;
        line-height: 21px;
    }
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 67px;
    row-gap: 27px;
    margin-top: 96px;
    margin-bottom: 109px;

    @media screen and (max-width: $tablet){
        grid-template-columns: 1fr 1fr;
        column-gap: 26.65px;
        row-gap: 16px;
        margin-top: 30px;
        margin-bottom: 88px;
        
    }
}

.grid-content-wrapper{
    position: relative;
    max-width: 264px;

    &--2, &--5{
        margin-top: 100px;
        
    }

    @media screen and (max-width: $tablet){
        
        &--5{
            margin-top: 0px;
            
        }

        &--4, &--6, &--2{
            margin-top: 64px;
            
        }

        
    }

    
}

.img-container{
    margin-right: 23px;

    @media screen and (max-width: $mobile){
        margin-right: 16px;
        
    }
}

.img{
    max-width: 100%;
}

h4{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.9px;

    position: absolute;
    top: 0px;
    right: 0px;
    transform: rotate(90deg) translate(85%, 100%);
    transform-origin: bottom right;

    @media screen and (max-width: $mobile){
        font-size: 10px;
        line-height: 13.25px;
        
    }
 
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    @media screen and (max-width: $mobile){
        font-size: 14px;
        line-height: 21px;
        
    }
    
}

h5{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 600;
    font-size: 14px;
    line-height: 17.07px;
    color: $color-gray;
}